<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.web.app.mapper.UserQuestionNoteMapper">

    <select id="getNoteBanks" resultType="com.homework.web.app.vo.NoteBankVO">
        SELECT qb.id AS bank_id,
               qb.bank_name,
               count(uqn.id) AS note_count
        FROM user_question_note uqn
                 INNER JOIN question_bank qb
                            ON qb.id = uqn.bank_id AND qb.is_deleted = 0
                 INNER JOIN category_sub_module csm
                            ON csm.id = qb.sub_module_id AND csm.is_deleted = 0
                 INNER JOIN category_module cm
                            ON cm.id = csm.module_id AND cm.is_deleted = 0
                 INNER JOIN category_group cg
                            ON cg.id = cm.group_id AND cg.is_deleted = 0
        WHERE uqn.user_id = #{userId}
          AND uqn.is_deleted = 0
          AND cg.group_type = #{groupType}
        GROUP BY qb.id, qb.bank_name
        ORDER BY qb.id DESC
    </select>
    <select id="getNoteQuestions" resultType="com.homework.web.app.vo.NoteQuestionVO">
        SELECT
            uqn.question_id
        FROM user_question_note uqn
        WHERE uqn.bank_id = #{bankId}
          AND uqn.user_id = #{userId}
          AND uqn.is_deleted = 0
        ORDER BY uqn.updated_time DESC, uqn.id DESC
    </select>
</mapper>