<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.web.app.mapper.UserQuestionAnswerMapper">


    <select id="getWrongQuestionBanks" resultType="com.homework.web.app.vo.WrongQuestionBankVO">

        SELECT qb.id AS bank_id,
               qb.bank_name,
               count(uqa.id) AS wrong_question_count
        FROM user_question_answer uqa
                 INNER JOIN question_bank qb
                            ON qb.id = uqa.bank_id AND qb.is_deleted = 0
                 INNER JOIN category_sub_module csm
                            ON csm.id = qb.sub_module_id AND csm.is_deleted = 0
                 INNER JOIN category_module cm
                            ON cm.id = csm.module_id AND cm.is_deleted = 0
                 INNER JOIN category_group cg
                            ON cg.id = cm.group_id AND cg.is_deleted = 0
        WHERE uqa.user_id = #{userId}
          AND uqa.is_deleted = 0
          AND uqa.is_correct = 0
          AND cg.group_type = #{groupType}
        GROUP BY qb.id, qb.bank_name
        ORDER BY qb.id DESC
        <!--
        SELECT 里有什么，GROUP BY 里就必须有什么。
        SELECT 中出现的普通列，必须全部出现在 GROUP BY 里（一一对应）；

        因为GROUP BY是将你要查询的所有目标列 拼成一组，然后才能使用聚合函数，比如 COUNT 计数
        -->


    </select>
    <select id="getWrongQuestions" resultType="com.homework.web.app.vo.WrongQuestionVO">
        SELECT uqa.question_id,
               uqa.question_type
        FROM user_question_answer uqa
        WHERE uqa.user_id = #{userId}
          AND uqa.bank_id = #{bankId}
          AND uqa.is_correct = 0
          AND uqa.is_deleted = 0
        ORDER BY id DESC
    </select>
    <select id="getGroupType" resultType="com.homework.model.enums.GroupType">
        SELECT cg.group_type
        FROM question_bank qb
                 INNER JOIN category_sub_module csm
                            ON csm.id = qb.sub_module_id AND csm.is_deleted = 0
                 INNER JOIN category_module cm
                            ON cm.id = csm.module_id AND cm.is_deleted = 0
                 INNER JOIN category_group cg
                            ON cg.id = cm.group_id AND cg.is_deleted = 0
        WHERE qb.id = #{bankId}
          AND qb.is_deleted = 0
    </select>

</mapper>